
h1 {
    color:white;
    background: black;
    padding: 340px;
    text-align: left;
    font-style: normal;
    font-size: 20px;
    
}

#tit-1{
    font-size: 40px;

}

.noticias{
    font-family: Arial;
}


